.footer {
  background-color: var(--primary-color-dark);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: .5rem;
  width: 100%;
  border-top: 2px solid var(--gray-light);
}

.footer_privacity {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: var(--ligth-color);
}

.privacy_link, .terms_link {
  color: white;
}

.footer_social_container {
  display: flex;
  gap: .7rem;
}

@media screen and (min-width: 1030px) {
  .footer_privacity {
    width: fit-content;
  }

  .footer {
    border-radius: 0px 0px 10px 10px;
  }

  .privacy_link, .terms_link {
    text-decoration: none;
    color: white;
  }
}