.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 1rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.title span {
  color: var(--primary-color-dark);
  font-weight: 600;
}

.about_content h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: .5rem;
  letter-spacing: 2px;
}

.about_content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color-dark);
  margin-bottom: .3rem;
  margin-top: 1rem;
  letter-spacing: 1px;
}

.about_content h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--primary-color-dark);
  opacity: .8;
  margin-bottom: .3rem;
  margin-top: 1rem;
  font-style: italic;
  letter-spacing: 1px;
}

.about_content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about_content li {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--gray-light);
}

.about_content p {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--gray-light);
  margin-bottom: 1rem;
}

.about_content strong {
  letter-spacing: 1px;
}

.about_content hr {
  display: none;
}

.about_content span {
  color: var(--primary-color-dark);
}

@media screen and (min-width: 1030px) {
  .about {
    margin: auto;
    width: var(--content-pc);
      margin-top: 2rem;
  }

  .about_content h1 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: .6rem;
    letter-spacing: 2px;
  }
  
  .about_content h2 {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--primary-color-dark);
    margin-top: 1.2rem;
    margin-bottom: .5rem;
    letter-spacing: 1.5px;
  }
  
  .about_content h3 {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--primary-color-dark);
    opacity: .8;
    margin-bottom: .3rem;
    margin-top: 1rem;
    font-style: italic;
    letter-spacing: 1px;
  }
  
  .about_content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .about_content li {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--gray-light);
  }
  
  .about_content p {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--gray-light);
    margin: 1rem 0;
    line-height: 26px;
  }
  
  .about_content strong {
    display: block;
    margin-bottom: .3rem;
    letter-spacing: 1.5px;
    font-weight: 500;
  }
  
  .about_content hr {
    display: none;
  }
}