.faq {
  display: flex;
  flex-direction: column;
  max-width: 367px;
  gap: 1rem;
}

.details {
  cursor: pointer;
  border-bottom: 1px solid var(--gray-strong);
}

.question {
  display: flex;
  width: 100%;
  font-size: 1.3rem;
  padding: .5rem 0px;
  color: var(--primary-color-dark);
  text-align: center;
  font-weight: 400;
}


.answer {
  width: 100%;
  padding-bottom: .5rem;
  font-weight: 300;
  font-size: 1.1rem;
}



