.new {
  width: var(--mobile-content);
  max-width: 725px;
}

.new_read_time {
  display: flex;
  font-size: 1.15rem;
  justify-content: flex-end;
  color: var(--gray-strong);
}

.new_title {
  font-size: 2.2rem;
  margin-top: 1rem;
  text-wrap: balance;
}

.new_info_author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
}

.new_info_author_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  background-color: transparent;
  border: none;
}

.new_info_author_picture_container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.new_info_author_picture_container img {
  width: 100%;
  height: 100%;
}

.new_info_author_container p {
  font-size: 1.1rem;
  color: var(--primary-color-link);
  opacity: .8;
  font-weight: 600;
}

.author_profile {
  width: 75%;
  max-width: 331px;
  position: fixed;
  left: 50%;
  top: 52%; /* Añadido para centrar también verticalmente */
  transform: translate(-50%, -50%);
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: .7rem;
  border-radius: 5px;
  border: 5px solid #EFEFEF;
  background: var(--dark-color);
}

.profile_close_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1rem;
  color: var(--gray-light);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.profile_picture_container {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
}

.profile_picture {
  width: 100%;
  height: 100%;
}

.profile-text-content {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-dark);
  border-radius: 10px;
  padding: 4px;
}

.profile-name {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .8px;
  color: var(--light-color);
  text-align: center;
}

.profile-content {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  color: var(--light-color);
  text-wrap: balance;
  gap: .5rem;
}

.new_info {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 1rem 0;
}

.new_info_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: var(--gray-light);
}

.new_info_image_container {
  width: auto;
  height: auto;
  margin-bottom: 1rem;
}

.new_info_image {
  width: 100%;
  height: 100%;
}

.new_info_date {
  font-size: 1rem;
  color: var(--gray-light);
}

.article {
  line-height: 25px;
  text-wrap: balance;
}

.article h1 {
  font-size: 2rem;
  font-weight: 650;
  margin-bottom: .4rem;
  margin-top: .5rem;
  letter-spacing: .4px;
  text-wrap: balance;
}

.article h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: .5rem;
  letter-spacing: .4px;
  margin-bottom: .7rem;
  text-wrap: balance;
}

.article h3 {
  font-size: 1.30rem;
  font-weight: 600;
  margin-top: .35rem;
  letter-spacing: .3px;
  margin-bottom: .4rem;
  text-wrap: balance;
}

.article p {
  font-size: 1.1rem;
  color: var(--gray-light);
  margin-bottom: .4rem;
  text-wrap: pretty;
}

.article p:has(img) {
  display: flex;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
}

.article img {
  width: 100%;
  height: 100%;
  max-width: 725px;
  max-height: 550px;
}

.article ul, .article ol {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.article strong {
  font-weight: 500;
  font-size: 1.1rem;
}

.article li {
  font-size: 1.1rem;
  color: var(--gray-very-light);
  margin-bottom: .5rem;
  font-weight: 400;
  text-wrap: pretty;
}

.article li p {
  font-size: 1.1rem;
  color: var(--gray-very-light);
  margin-bottom: .5rem;
  text-wrap: pretty;
}

.article li strong {
  color: var(--primary-color-link);
}

.article pre {
  background: var(--backgorund-code);
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  color: #efefef;
}

.article code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.article .divisor {
  width: 100%;
  color: var(--primary-color-dark);
  height: 2.5px;
  margin: 1.5rem 0 0rem 0;
  background-color: var(--primary-color-dark);
  opacity: .7;
}

.article a {
  color: var(--primary-color-link);
  font-weight: 500;
  text-decoration-color: var(--primary-color-dark);
}

@media screen and (min-width: 1030px) {
  .new {
    width: var(--content-pc);
  }

  .new_title {
    font-size: 3rem;
    font-weight: 600;
    text-wrap: wrap;
  }

  .new_info {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .new_info_text {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: var(--gray-light);
    cursor: pointer;
  }

  .new_info_author button {
    display: flex;
    border: none;
    background: none;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color-link);
    cursor: pointer;
  }

  .new_info_date {
    font-size: 1rem;
    color: var(--gray-light);
  }

  .new_info_image_container {
    width: auto;
    height: auto;
    margin-bottom: 1rem;
  }

  .new_info_image {
    width: 100%;
    height: 100%;
  }

  .author_profile {
    width: 75%;
    max-width: 331px;
    position: fixed;
    left: 50%;
    top: 45%; /* Añadido para centrar también verticalmente */
    transform: translate(-50%, -50%);
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
  }

  .article h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: .8px;
    line-height: 50px;
    text-wrap: wrap;
  }

  .article h2 {
    width: 100%;
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: .9rem;
    letter-spacing: .8px;
    text-wrap: wrap;
    line-height: 42px;
  }

  .article h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 1.4rem;
    margin-bottom: .9rem;
    letter-spacing: .8px;
    line-height: 32px;
    text-wrap: wrap;
  }

  .article p {
    font-size: 1.34rem;
    letter-spacing: .2px;
    color: var(--gray-very-light);
    margin-bottom: .6rem;
    line-height: 28px;
    text-wrap: wrap;
  }

  .article p:has(img) {
    display: flex;
    width: auto;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .article img {
    width: 100%;
    height: 100%;
    max-width: 725px;
    max-height: 550px;
  }

  .article ul, .article ol {
    display: flex;
    flex-direction: column;
    gap: .7rem;
  }

  .article strong {
    font-weight: 500;
    font-size: 1.1rem;
  }

  .article li {
    font-size: 1.34rem;
    letter-spacing: .2px;
    color: var(--gray-very-light);
    margin-bottom: .5rem;
    font-weight: 400;
    text-wrap: pretty;
  }

  .article li p{
    font-size: 1.34rem;
    letter-spacing: .2px;
    color: var(--gray-very-light);
    margin-bottom: .5rem;
    font-weight: 400;
    text-wrap: pretty;
  }

  .article li strong {
    font-size: 1.34rem;
    margin-bottom: .5rem;
    letter-spacing: 1px;
    color: var(--primary-color-link);
    text-wrap: pretty;
  }

  .article pre {
    background: var(--backgorund-code);
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #efefef;
  }

  .article code {    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    color: var(--gray-light);
    margin-bottom: .6rem;
    background-color: #333;
    border-radius: 5px;
    line-height: 30px;
    text-wrap: pretty;
  }

  .article .divisor {
    color: var(--primary-color-dark);
    width: 100%;
    height: 3px;
    background-color: var(--primary-color-dark);
    opacity: .7;
  }

}