

/*? Container */
.new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: var(--mobile-content);
  gap: 1.7rem 0;
  margin-top: 1.5rem;
  max-width: 700px;
}

/*? New Title */
.new_title {
  font-size: 2.5rem;
  font-weight: 800;
  text-wrap: balance;
}

/*? New Info */
.new_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.new_info_author {
  width: 40px;
  height: 40px;
}

.new_info_author_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.new_info_text_container {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.new_info_name_and_date {
  display: flex;
  gap: .1rem;
  flex-direction: column;
}

.new_info_author_name {
  font-size: .95rem;
  color: #eee;
  font-weight: 400;
}

.new_info_date {
  font-size: .80rem;
  color: #bbb;
  font-weight: 400;
}

.new_read_time_container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.new_read_time {
  font-size: 1rem;
  color: #bbb;
  font-weight: 400;
}

/*? Article */

.article_main_image_source_container {
  position: absolute;
  display: flex;
  line-height: normal;
  padding: .1rem .2rem;
  font-size: .55rem;
  top: 0;
  right: 0;
  opacity: .65;
  background-color: rgba(0, 0, 0);
  border-radius: 0 0 0 3px;
  display: flex;
}

.article_main_image_source {
  text-decoration: none;
}

.article figure {
  width: auto;
  height: auto;
  position: relative;
}

.article figcaption {
  position: absolute;
  display: flex;
  line-height: normal;
  padding: .1rem .2rem;
  font-size: .55rem;
  top: 0;
  right: 0;
  opacity: .65;
  background-color: rgba(0, 0, 0);
  border-radius: 0 0 0 3px;
  display: flex;
}

.article figcaption a {
  color: #eee;
  text-decoration: none;
}

.article img {
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 550px;
}

.article small {
  gap: .2rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-weight: 600;
  opacity: .8;
}

.article h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .4px;
  margin: 2.4rem 0 1.8rem 0;
  text-wrap: balance;
}

.article h3 {
  font-size: 1.30rem;
  font-weight: 500;
  margin-top: .35rem;
  letter-spacing: .3px;
  margin-bottom: .4rem;
  text-wrap: balance;
}

.article p {
  font-weight: 350;
  font-size: 1.2rem;
  color: #dedede;
  margin: 1rem 0;
  text-wrap: balance;
}

.article a {
  font-weight: 400;
  /* color: #49f; */
  background: linear-gradient(135deg, #fa7887 25.01%, #d782ff 99.55%);
  background-clip: text;
  color: transparent;  
  text-decoration: none;
  opacity: .8;
}

.article ul, .article ol {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 1.5rem;
  font-size: 1.2rem;
}

.article strong {
  font-weight: 500;
  font-size: inherit;
}

.article li {
  margin-left: 20px;
  list-style: disc;
  font-size: inherit;
  color: #dedede;
  color: var(--gray-very-light);
  font-weight: 350;
  text-wrap: pretty;
}

.article li strong {
  display: block;
  font-size: inherit;
  letter-spacing: .5px;
  margin-bottom: .6rem;
  color: var(--gray-very-light);
}

.article li p {
  font-weight: 350;
  font-size: inherit;
  color: var(--gray-very-light);
  text-wrap: balance;
}

.article pre {
  background: var(--backgorund-code);
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  color: #efefef;
}

.article code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.article .divisor {
  width: 100%;
  color: var(--primary-color-dark);
  height: 2.5px;
  margin: 1.5rem 0 0rem 0;
  background-color: var(--primary-color-dark);
  opacity: .55;
}

.readtime-icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1030px) {
  .new {
    gap: 1.2rem;
  }

  .new_title {
    font-size: 3.5rem;
  }

  .article figcaption {
    padding: .2rem .4rem;
    font-size: .8rem;
  }

  .article h2 {
    font-size: 2.5rem;
    margin: 2.8rem 0 2.2rem 0;
  }

  .article h3 {
    font-size: 1.5rem;
    margin-top: .45rem;
    margin-bottom: .5rem;
  }

  .article p {
    font-size: 1.25rem;
    margin: 1.2rem 0;
  }

  .article ul, .article ol {
    margin: 2.5rem 0;
    gap: 1.8rem;
    font-size: 1.3rem;
  }

}