@import '@fontsource/poppins';
@import '@fontsource-variable/manrope';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import "tailwindcss";

body {
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  padding: 0 1rem;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #dc0b88;
  --sh-sign: #8996a3;
  --sh-property: #4387db;
  --sh-entity: #249a97;
  --sh-jsxliterals: #6266d1;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;

}

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-poppins-500: 'Poppins', sans-serif;
  --font-poppins-600: 'Poppins', sans-serif;
  --font-manrope: 'Manrope Variable', sans-serif;
  --color-primary: #EE7B00;
}


.hero-grid {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;

  > :first-child {
      flex-direction: column-reverse;
      max-height: none;
      overflow: auto;

      h2 {
          font-family: var(--font-poppins);
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 2.25rem;
          margin-bottom: 0.4rem;
          letter-spacing: -0.03375rem;
      }

      .hero-grid__content__description {
          display: flex;
          font-size: 16px;
          gap: 0.7rem;
      }
      

      img {
          height: 100%;
          max-height: none;
          object-fit: cover;
          border-radius: 10px;
      }
    }
}

.hero-grid__item {
  display: flex;
  gap: 1rem;
  max-height: 120px;
  overflow:hidden;
  padding: 0.8rem;
}

.hero-grid__item > img {
  height: auto;
  max-height: 110px;
  aspect-ratio: 80/50;
  object-fit: cover;
  border-radius: 10px;
}

.hero-grid__content > h2 {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 1.058rem;
  margin-bottom: 0.4rem;
  letter-spacing: -0.03375rem;
}

.hero-grid__content__description {
  display: flex;
  font-size: 14px;
  gap: 0.4rem;

  >:first-child {
      color: var(--color-primary);
  }
}

@media (min-width: 1200px) {
  .hero-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    place-items: center;
    place-content: center;
  
      > :first-child {
        grid-column: 1 / 8;
          grid-row:1 / 4;
          width: auto;
          height: auto;
          max-width: none;
          max-height: none;
          overflow: hidden;

        .hero-grid__content {
          display: flex;
          flex-direction: column;
        }
  
        h2 {
          font-family: var(--font-manrope);
          font-weight: 600;
          font-size: 2rem;
          letter-spacing: -0.03375rem;
          line-height: 1.5;
        }
  
        .hero-grid__content__description {
          display: flex;
          font-size: 16px;
          gap: 0.7rem;
        }
  
        img {
          width: 100%;
          max-width: none;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      > :nth-child(2), > :nth-child(3), > :nth-child(4) {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: auto;
        max-width: none;
        height: 100%;
        grid-column: span 5;

        h2 {
          font-family: var(--font-manrope);
            font-weight: 500;
            font-size: 1.15rem;
            margin-bottom: 0.4rem;
            letter-spacing: -0.03375rem;
            max-height: 86.4px;
              overflow: hidden;
        }

        .hero-grid__content {
          justify-content: start;
          gap: 0.2rem;
          }

        .hero-grid__content__description {
            display: flex;
            font-size: 16px;
            gap: 0.7rem;
          }

        img {
          width: 225px;
          max-width: none;
          height: 126px;
          max-height: 235px;
          aspect-ratio: 343/194;
            object-fit: cover;
            border-radius: 10px;
        }
      }
      
    }

    .hero-grid__item {
      max-width: none;
      max-height: none;
      width: 100%;
      height: 420px;
      display: flex;
      padding: 1.2rem;
      flex-direction: column;
      gap: 1rem;
      max-height: none;
      overflow: hidden;
      grid-column: span 4;
      transition: scale 0.2s ease-in-out;

      &:hover {
          scale: 1.02;
          opacity: 0.8;
      }
    }

    .hero-grid__content {
      display: flex;
      flex-direction: column-reverse;
      gap: 0.5rem;
    }
  
    .hero-grid__item>img {
      max-width: none;
      height: 235px;
      aspect-ratio: 343/194;
      object-fit: cover;
      border-radius: 10px;
    }
  
    .hero-grid__content h2 {
      font-family: var(--font-manrope);
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 1.7;
    }
  
    .hero-grid__content__description {
      display: flex;
      font-size: 16px;
      gap: 0.4rem;
  
      >:first-child {
        color: var(--color-primary);
      }
    }
}
