:root {
  --dark-color: #000000;
  --light-color: #eee;
  
  --dark-color-bg: #57575750;
  
  --primary-color-dark: linear-gradient(135deg, #E71D36 25.01%, #B71DFF 99.55%);
  --primary-color-light: linear-gradient(135deg, #E71D36 25.01%, #B71DFF 99.55%);

  --primary-color-link: #f7465a;
  
  --gray-light: #c7c7c7;
  --gray-very-light: #d3d3d3;
  --gray-strong: #888888;
  
  --background-color: #222;

  --background-gradient-dark: linear-gradient(180deg, #111 0%, #333 70%);

  --backgorund-code: linear-gradient(95deg, #2c2c2c 20%, #3a3939 70%);

  --content-mobile: 100%;
  --content-pc: 56%;
  --viewport-pc: 90%;
  --viewport-mobile: 95%;

  --read-more: linear-gradient(135deg, #f5596b 25.01%, #c44afd 99.55%) border-box;

  /*? Section colors */
  --tutorials: linear-gradient(350deg, #d8d7d7 0%, #85cbfa 100%) border-box;
  --pcs: linear-gradient(350deg, #d8d7d7 0%, #FFEC58 100%) border-box;
  --mobiles: linear-gradient(350deg, #d8d7d7 0%, #f7223b 100%) border-box;
  --gaming: linear-gradient(350deg, #d8d7d7 0%, #B71DFF 100%) border-box;
  --reviews: linear-gradient(350deg, #d8d7d7 0%, #FFA07A 100%) border-box;
  --programming: linear-gradient(350deg, #d8d7d7 0%, #91E262 100%) border-box;
  --ai: linear-gradient(350deg, #d8d7d7 0%, #7af6ff 100%) border-box;
  --cybersecurity: linear-gradient(350deg, #d8d7d7 0%, #4499ff 100%) border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--dark-color);
  color: var(--light-color);
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: var(--viewport-mobile);
}

@media screen and (min-width: 1030px) {
  main {
    width: var(--viewport-pc);
  }
}

/** LOADER */

.loader_contanier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader_contanier h1 {
  color: var(--light-color);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  display: grid;
  border: 6px solid #0000;
  border-radius: 50%;
  border-color: var(--light-color) #0000;
  animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 4px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: var(--primary-color-dark) #0000;
  animation: inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 16px;
}
@keyframes l16 { 
  100%{transform: rotate(1turn)}
}

/** LOADER *//*! ERROR */

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error h1 {
  color: var(--primary-color-dark);
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1PX;
}

.error p {
  color: var(--gray-light);
  font-size: 1.5rem;
  text-align: center;
  margin-top: .5rem;
  padding: 0 .4rem;
}

.error a {
  color: var(--primary-color-dark);
  font-size: 1.4rem;
  text-decoration: underline;
  opacity: .75;
  margin-top: 1rem;
}
