:root {
  --dark-color: #000000;
  --light-color: #eee;
  
  --primary-color-dark: #E71D36;
  --primary-color-light: #E63946;
  
  --gray-light: #c7c7c7;
  --gray-strong: #888888;
  
  --background-color: #222;

  --background-gradient-dark: linear-gradient(95deg, #000 0%, #2c2b2b 70%);

  --backgorund-code: linear-gradient(95deg, #2c2c2c 20%, #3a3939 70%);

  --content-mobile: 100%;
  --content-pc: 56%;

}

html {
  background-color: var(--dark-color);
}

@media screen and (min-width: 1030px) {
  html {
    background-color: #000;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
