.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: #343434;
}

.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-strong);
  border-radius: 20px;
  box-shadow: 1px 0 1px var(--gray-strong);
  margin-top: 2rem;
}

.pagination_move_button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--gray-strong);
  padding: 0px 1rem;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    filter: brightness(1.2);
    scale: 1.2;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.pagination_move_button .next_arrow {
  width: 1rem;
}

.pagination_move_button .back_arrow {
  width: 1rem;
}

.pagination_pages_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_page_button_inactive {
  width: 2.7rem;
  height: 2.5rem;
  font-size: 1.1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-weight: 500;
  background-color: transparent;
  color: var(--gray-very-light);
  cursor: pointer;
  border-left: 1px solid var(--gray-strong);
  border-right: 1px solid var(--gray-strong);
  transition: all 0.3s;
}

.pagination_page_button_inactive:hover {
  background-color: var(--dark-color-bg);
}

.pagination_page_button_active {
  width: 2.7rem;
  height: 2.5rem;
  font-size: 1.1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-weight: 700;
  background: var(--primary-color-dark);
  cursor: pointer;
  color: var(--light-color);
  border-left: 1px solid var(--gray-strong);
  border-right: 1px solid var(--gray-strong);
  transition: all 0.3s;
}

.pagination_page_button_active:hover {
  background-color: var(--primary-color-link);
}