main {
  justify-content: center;
  align-items: center;
}

.title_section {
  font-size: 2rem;
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.sections_container {
  align-self: center;
}

.section_highlights_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;
  margin: 0 1rem;
  max-width: 450px;
}

.section_highlights_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--gray-light);
  border-radius: 10px;
  padding: .5rem 1rem;
  height: 530px;
}

.section_highlights_item_title {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  align-items: center;
  margin: 0.3rem 0 .6rem 0;
  color: var(--light-color);
  width: 100%;
}

.section_highlights_item_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  height: 140px;
}

.section_highlights_item_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.highlights_item_readtime {
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  align-items: center;
  margin: 0.3rem 0;
  width: 100%;
  color: var(--gray-strong);
}

.section_highlights_item_body {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  align-items: center;
  text-wrap: balance;
  margin: 0.1rem 0 .7rem 0;
  width: 100%;
  color: var(--gray-very-light);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section_highlights_item_more {
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  align-items: center;
  margin: 0.3rem 0;
  width: 100%;
  color: var(--primary-color-dark);
}

@media screen and (min-width: 1030px) {

  .title_section {
    position: relative;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.5px;
  }

  .section_divisor {
    align-self: center;
    width: 90%;
    color: var(--primary-color-dark);
    padding: 1px;
    background-color: var(--primary-color-dark);
    opacity: .6;
    margin-bottom: 3rem;
  }

  .section_highlights_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2rem;
    width: 90%;
    align-items: center;
    margin: 0 1rem;
    max-width: 90%;
  }
  
  .section_highlights_item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--gray-strong);
    margin: 0;
    height: 343px;
    transition: 0.3s ease;
  }

  .section_highlights_item:hover {
    transform: translate(4px, 4px);
    box-shadow: -6px -6px 0px 0px var(--primary-color-dark);
    border: 2px solid var(--primary-color-dark);
    cursor: pointer;
  }

  .section_highlights_item_title {
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .3px;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }

  .section_highlights_item_body {
    display: flex;
    font-size: 1.3rem;
    font-weight: 300;
    align-items: center;
    text-wrap: balance;
    margin: 0.1rem 0 0.2rem 0;
    width: 100%;
    color: var(--gray-light);
    font-style: normal;
    line-height: normal;
    height: auto;
  } 

  .section_highlights_item_image_container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .section_highlights_item_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 2px;
  }


  .section_highlights_item_content {
    flex: 1.35
  }

  .section_highlights_s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
  }
}